page-login {
    .header-login {
        height: 15%!important;
        h1 {
            color: #fff;
        }
    }
    .loginform {
        position: fixed;
        width: 100%;
        ion-input {
            color: #fff;
            padding-left: 5%;
        }
        .toggle-form {
            color: #fff;
            font-size: 12px;
            text-decoration: underline;
        }
    }
}