page-demtestcard {
    .header-page {
        height: 15% !important;
        button {
            float: left;
            color: #fff;
        }
        h1 {
            color: #fff;
        }
    }
    .inputs {
        font-size: 36px;
        letter-spacing: 8px;
    }
    .recording {
        font-size: 60px;
    }
}