<ion-content>
    <ion-grid class='test-card'>

        <ion-row class='info'>
            <ion-col col-20>
                <button ion-fab mini (click)='back()'>X</button>
            </ion-col>
            <ion-col col-80>
                <h1 text-center>{{selectedCard.name}}</h1>
            </ion-col>
        </ion-row>

        <ion-row class='dialpad' *ngIf='type==="Concussion"'>
            <ion-col col-40>
                <ion-textarea rows="5" col='10' [(ngModel)]="inputString"></ion-textarea>
            </ion-col>
            <ion-col col-60>
                <ion-grid>
                    <ion-row text-center>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(1) '>
                            1</button>
                        </ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(2) '>2</button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(3) '>3</button></ion-col>
                    </ion-row>
                    <ion-row text-center>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(4) '>4</button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(5) '>5</button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(6) '>6</button></ion-col>
                    </ion-row>
                    <ion-row text-center>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(7) '>7</button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(8) '>8</button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(9) '>9</button></ion-col>
                    </ion-row>
                    <ion-row text-center>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"'></button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"' (click)='add(0) '>0</button></ion-col>
                        <ion-col col-33> <button ion-button clear full class='number ' [disabled]='status!="running"'></button></ion-col>
                    </ion-row>
                </ion-grid>

            </ion-col>
        </ion-row>
        <ion-row text-center class='recording' *ngIf='status==="running"'>
            <ion-col col-100 text-center>
                <ion-icon name="recording"></ion-icon>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col col-25 class='timer-buttons ' text-center>
                <button ion-button full round>Time: {{timer}} sec </button>
                <!--<button ion-button full round>Errors: {{errors}}</button>-->
            </ion-col>
            <ion-col col-25 *ngIf='status==="stop" ' class='timer-buttons ' text-center>
                <button full round ion-button full round (click)='start() '> Start</button>
            </ion-col>
            <ion-col *ngIf='status==="running" ' col-25 class='timer-buttons ' text-center>
                <button ion-button full round (click)='pause() '> Pause</button>
            </ion-col>
            <ion-col *ngIf='status==="paused" ' col-25 class='timer-buttons ' text-center>
                <button full round ion-button (click)='resume() '> Resume</button>
            </ion-col>
            <ion-col col-25 class='timer-buttons ' text-center>
                <button ion-button full round (click)='stop() '> Stop</button>
            </ion-col>
            <ion-col col-25 class='timer-buttons ' text-center>
                <button ion-button full round (click)='reset() '> Reset</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
