<ion-content>
    <div class='header-page'>
        <button (click)='back()' ion-button clear icon-only><ion-icon name='md-arrow-back'></ion-icon></button>
        <h1 text-center>DEM</h1>
    </div>
    <ion-grid class='dem'>
        <ion-row text-center>
            <ion-col width-60></ion-col>
            <ion-col width-20>Errors</ion-col>
            <ion-col width-20>Time</ion-col>
        </ion-row>
        <div>
            <ion-row *ngFor='let card of cards; let i =index' text-center center>
                <ion-col width-60 *ngIf='card.time===0'>
                    <button ion-button (click)='start(i)' full round>Start {{card.name}} Test</button>
                </ion-col>
                <ion-col width-30 *ngIf='card.time>0'>
                    <button ion-button (click)='review(i)' full round>Review</button>
                </ion-col>
                <ion-col width-30 *ngIf='card.time>0'>
                    <button ion-button (click)='start(i)' full round>Restart {{card.name}} Test</button>
                </ion-col>
                <ion-col width-20>{{card.errors}}</ion-col>
                <ion-col width-20>{{card.time}}</ion-col>
            </ion-row>
        </div>
        <div *ngIf='results' class='result'>
            <ion-row>
                <ion-col col-50><span class='value'>{{results.vt}}</span> <br> Vertical Time</ion-col>
                <ion-col col-50><span class='value'>{{results.vtE}}</span> <br> Vertical Time/Total Errors</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-33><span class='value'>{{results.gH}}</span> <br> Gross Horizontal</ion-col>
                <ion-col col-33><span class='value'>{{results.aht}}</span> <br> Adjusted Horizontal Time</ion-col>
                <ion-col col-33><span class='value'>{{results.hV}}</span> <br> H/V Ratio</ion-col>
            </ion-row>
            <ion-row text-center><button round full ion-button (click)='save()'>Save results</button></ion-row>
        </div>
    </ion-grid>
</ion-content>