page-demtestcard {
    .header-page {
        height: 15%!important;
        button {
            float: left;
            color: #fff;
        }
        h1 {
            color: #fff;
        }
    }
    .timer-buttons {
        float: left;
        button {
            margin: 5%;
            font-size: 1.1rem;
        }
    }
    .numbers {
        float: right;
        ion-row {
            max-height: 35px;
            ion-col {
                button {
                    max-height: 25px;
                    padding: 5px;
                }
            }
        }
    }
}