<ion-content>
  <ion-grid class='test-card'>
    <ion-row center class='header-page'>
      <ion-col width-10 text-center>
        <ion-icon color='primary' (click)='back()' class='medium-icon' name='md-arrow-back'></ion-icon>
      </ion-col>
      <ion-col width-80>
        <h2 color='light' text-center>{{selectedCard.name}}</h2>
      </ion-col>
      <ion-col width-10 text-center>
        <ion-icon color='danger' [hidden]='status==="stop"' class='medium-icon' name="md-megaphone"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33 *ngIf='status==="stop" ' text-center>
        <ion-icon color='light' class='medium-icon' name='ios-play-outline' (click)='start() '></ion-icon>
      </ion-col>
      <ion-col *ngIf='status==="running" ' width-33 text-center>
        <ion-icon color='light' class='medium-icon' name='ios-pause-outline' (click)='pause() '></ion-icon>
      </ion-col>
      <ion-col *ngIf='status==="paused" ' width-33 text-center>
        <ion-icon color='light' class='medium-icon' name='ios-skip-forward-outline' (click)='resume() '></ion-icon>
      </ion-col>
      <ion-col width-33  text-center>
        <ion-icon color='light' class='medium-icon' name='ios-timer-outline'></ion-icon>
        <span *ngIf='status==="running"'>{{timer}} sec</span>
      </ion-col>
      <ion-col width-33 text-center>
        <ion-icon color='light' class='medium-icon' name='ios-refresh' (click)='reset() '></ion-icon>
      </ion-col>
    </ion-row>
    <div class='dem-test'>
      <ion-row>
        <ion-col class='entries'>
          <ion-textarea class='inputs' rows="6" [(ngModel)]="inputString"></ion-textarea>
        </ion-col>
        <ion-col class='dialpad'>
          <ion-grid>
            <ion-row text-center>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys' (click)='add(1) '>
                  1
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(2) '>2
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(3) '>3
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys '  (click)='add(4) '>4
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(5) '>5
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(6) '>6
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(7) '>7
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(8) '>8
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys '  (click)='add(9) '>9
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' ></button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' (click)='add(0) '>0
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-fab clear full class='number-keys ' ></button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>

      </ion-row>
    </div>

  </ion-grid>
</ion-content>
