page-dem-input {
    .entries {
        padding: 3vh;
        width: 60vw;
        ion-textarea {
            padding: 3vh;
            border: 1px solid #D5D9DA;
            background: #FCFCFC;
            font-weight: bold;
            font-size: 6vh;
            textarea {
                letter-spacing: .5vh!important;
            }
        }
    }
    .dialpad {
        width: 40vw;
    }
}