<ion-content>
    <ion-grid>
        <ion-row center class='header-page'>
            <ion-col width-10 text-center>
                <ion-icon color='primary' (click)='back()' class='medium-icon' name='md-arrow-back'></ion-icon>
            </ion-col>
            <ion-col width-80>
                <h2 color='light' text-center>{{selectedCard.name}}</h2>
            </ion-col>
            <ion-col width-10 text-center>
                <ion-icon color='danger' *ngIf='status==="running"' class='medium-icon' name="recording"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col width-40>
                <ion-row>
                    <ion-col width-25 text-center>
                        <ion-icon color='light' class='medium-icon' name='ios-timer-outline'></ion-icon>
                        <h4>{{timer}} sec</h4>
                        <!--<button ion-button full round>Errors: {{errors}}</button>-->
                    </ion-col>
                    <ion-col width-25 *ngIf='status==="stop" ' text-center>
                        <ion-icon color='light' class='medium-icon' name='ios-play' (click)='start() '></ion-icon><br>
                        <h4>Start</h4>
                    </ion-col>
                    <ion-col *ngIf='status==="running" ' width-25 text-center>
                        <ion-icon color='light' class='medium-icon' name='ios-pause' (click)='pause() '></ion-icon><br>
                        <h4>Pause</h4>
                    </ion-col>
                    <ion-col *ngIf='status==="paused" ' width-25 text-center>
                        <ion-icon color='light' class='medium-icon' name='ios-skip-forward' (click)='resume() '></ion-icon><br>
                        <h4> Resume</h4>
                    </ion-col>
                    <ion-col width-25 text-center>
                        <ion-icon color='light' class='medium-icon' name='ios-square' (click)='stop() '></ion-icon><br>
                        <h4> Stop</h4>
                    </ion-col>
                    <ion-col width-25 text-center>
                        <ion-icon color='light' class='medium-icon' name='ios-refresh' (click)='reset() '></ion-icon><br>
                        <h4>Reset</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-100 text-center>
                        <ion-icon color='danger' class='medium-icon' name='ios-alert-outline'></ion-icon><br>
                        <h4>{{errors}}</h4>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col width-50 class='dialpad' text-center>
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row1; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[0].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(0, i)' ion-fab>{{x}}</button>

                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row2; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[1].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(1, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row3; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[2].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(2, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row4; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[3].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(3, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row5; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[4].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(4, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row6; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[5].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(5, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row7; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[6].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(6, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row8; let i = index' col-20 text-center>
                            <button class='number' [ngClass]="{err: errorsList[7].indexOf(i)>-1}" [disabled]='status==="stop" || status==="paused"' (click)='addError(7, i)' ion-fab>{{x}}</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col width-10>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
