page-kingdevickcard {
    .header-page {
        height: 15%!important;
        button {
            float: left;
            color: #fff;
        }
        h1 {
            color: #fff;
        }
    }
    .info {}
    .card {
        button {
            padding: 2% 20px;
            font-size: 24px;
        }
    }
    .timer-buttons {
        .timer {
            margin-top: 30%;
        }
        button {
            font-size: 24px!important;
            margin: 5%;
            width: 80%;
            padding: 2%;
        }
    }
}