<ion-content>
    <ion-grid class='test-card'>
        <ion-row class='info'>

            <ion-col col-20>
                <button ion-fab mini (click)='back()'>X</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-50 class='timer-buttons' text-center>
                <button class='timer' ion-button full round>Time: {{timer}} sec </button>
                <button ion-button full round>Errors: {{errors}}</button>
                <button full round ion-button *ngIf='status==="stop"' full round (click)='start()'> Start</button>
                <button *ngIf='status==="running"' ion-button full round (click)='pause()'> Pause</button>
                <button *ngIf='status==="paused"' full round ion-button (click)='resume()'> Resume</button>
                <button ion-button full round (click)='stop()'> Stop</button>
                <button ion-button full round (click)='reset()'> Reset</button>
            </ion-col>
            <ion-col col-50 class='card'>
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row1' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row2' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row3' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row4' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row5' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row6' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row7' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor='let x of selectedCard.row8' col-20 text-center>
                            <button [disabled]='status==="stop" || status==="paused"' (click)='errors=errors+1' ion-button>{{x}}</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>