page-kingdevickcard {
    .card {
        background: #fff;
        .number {
            background: none;
            border: 2px #454f5e solid;
            color: #454f5e;
            font-size: 3rem;
            width: 6.5vw;
            height: 6.5vw;
            margin: 1.5%;
        }
    }
}