page-profile {
    .profile {
        .icons {
            text-align: center;
            .profileImg {
                text-align: center;
                margin-bottom: -10%;
            }
            .profileIcon {
                font-size: 80px;
                text-align: center;
                width: 100%;
                margin-bottom: -10%;
            }
        }
        .addNewImg {
            text-align: center;
        }
        .profile-form {

            .text-input{
            text-align: right;
            }
            
            margin-top: 5%;
            .item-input .item-clear {
                box-shadow: none!important;
                color: #fff!important;
            }
            .games {
                margin-left: 10%;
            }
            .drop-down-icon,
            .select-icon-inner {
                font-size: 20px;
                margin: 0;
                color: #999999;
                position: relative;
                width: 12px;
                height: 18px;
            }
        }
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
            border: none;
            box-shadow: none;
        }
    }
}