page-addPlayer {
    .addPlayer {
        .icons {
            text-align: center;
            .profileImg {
                text-align: center;
                margin-bottom: -10%;
                width: 140px;
                height: 140px;
                object-fit: cover;
            }
            .profileIcon {
                font-size: 12rem;
                text-align: center;
                width: 100%;
                margin-bottom: -10%;
            }
        }
        .addNewImg {
            text-align: center;
        }
        .access {
            p {
                margin: 1%;
                color: #f4f4f4;
            }
            ion-checkbox {
                float: right
            }
        }
    }
}