<ion-content padding>
    <ion-grid class='addPlayer'>
        <ion-row center>
            <ion-icon color='primary' class='medium-icon' name='ios-arrow-round-back-outline' (click)='back()'></ion-icon>
            <ion-col width-100 text-center>
                <h4 color='primary'>Add new player </h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-30></ion-col>
            <ion-col *ngIf='!newPlayer.profileImageId' width-40 class='icons'>
                <ion-icon color='light' class='profileIcon' name='md-person'></ion-icon>
            </ion-col>
            <ion-col *ngIf='newPlayer.profileImageId' width-40 class='icons'>
                <img class='profileImg' src='{{newPlayer.profileImageId}}' />
            </ion-col>
            <ion-col width-30></ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100 text-center>
                <ion-icon (click)='openCamera()' color='light' class='medium-icon' name='md-camera'> </ion-icon>
                <ion-icon (click)='getFile()' color='light' class='medium-icon' name='md-images'> </ion-icon>
            </ion-col>
        </ion-row>
        <ion-list no-lines>
            <ion-item>
                <ion-label color='dark'>Full Name</ion-label>
                <ion-input type="text" [(ngModel)]='newPlayer.fullName' placeholder='fullname'>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label color='dark'>Access personal records</ion-label>
                <ion-checkbox item-right [(ngModel)]="access"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf='access'>
                <ion-label color='dark'>Email</ion-label>
                <ion-input placeholder='email address' [(ngModel)]='newPlayer.email'></ion-input>
            </ion-item>
            <ion-item *ngIf='err' text-center>
                <p color='danger'>{{err}}</p>
            </ion-item>
        </ion-list>
        <ion-row text-center>
            <ion-col width-30></ion-col>
            <ion-col width-40>
                <button full icon-left (click)='add()' ion-button color="danger">
            <ion-icon name='ios-add-circle-outline' (click)='back()'></ion-icon>
                  Add</button>
            </ion-col>
            <ion-col width-30></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>