<ion-content padding>
    <ion-fab top right *ngIf='newtest.player._id'>
        <button ion-fab clear color='light' (click)='newtest.player={}'><ion-icon name='md-search'></ion-icon>
                </button>
    </ion-fab>
    <ion-grid class='test'>
        <div *ngIf='!newtest.player._id'>
            <ion-row>
                <ion-col>
                    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]='true' (ionCancel)='cancel()' (ionFocus)='getPlayers()' (ionInput)='filter($event)' placeholder='Search for players'>
                    </ion-searchbar>
                </ion-col>
            </ion-row>
            <ion-list no-lines *ngIf='filterList.length>0'>
                <ion-item *ngFor='let player of filterList' (click)='selectPlayer(player)'>
                    <ion-avatar item-left>
                        <ion-icon *ngIf='!player.profileImageId' class='icon-img' name='md-person'></ion-icon>
                        <img *ngIf='player.profileImageId' src="{{player.profileImageId}}">
                    </ion-avatar>
                    <h2 *ngIf='player.fullName'>{{player.fullName}}</h2>
                    <h2 *ngIf='!player.fullName'>{{player.username}}</h2>
                </ion-item>
            </ion-list>
            <ion-row text-center>
                <ion-col>
                    <p>OR</p>
                </ion-col>
            </ion-row>
            <ion-row text-center>
                <ion-col width-20></ion-col>
                <ion-col width-60>
                    <button (click)='addPlayer()' ion-button color="primary">Add New Player</button>
                </ion-col>
                <ion-col width-20></ion-col>
            </ion-row>
        </div>
        <div *ngIf='newtest.player._id'>
            <ion-list no-lines class='selectedPlayer'>
                <ion-item text-center *ngIf='!newtest.player.profileImageId'>
                    <ion-icon class='profileIcon' name='md-person'></ion-icon>
                </ion-item>
                <ion-item class='profileImg' *ngIf='newtest.player.profileImageId'>
                    <img src='{{newtest.player.profileImageId}}' />
                </ion-item>
                <ion-item>
                    <ion-label item-left>Full Name</ion-label>
                    <ion-input disabled='true' item-right [(ngModel)]='newtest.player.fullName'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Username</ion-label>
                    <ion-input disabled='true' item-right [(ngModel)]='newtest.player.username'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>DOB</ion-label>
                    <ion-input disabled='true' item-right [(ngModel)]="newtest.dob"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Test Date </ion-label>
                    <ion-input disabled='true' item-right [(ngModel)]='newtest.date'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Habitual Correction</ion-label>
                    <ion-select [(ngModel)]="newtest.habitual">
                        <ion-option selected="true" value="default">None</ion-option>
                        <ion-option value="glasses">Glasses</ion-option>
                        <ion-option value="contacts">Contacts</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>NPC (Break/Recovery)</ion-label>
                    <ion-select [(ngModel)]="newtest.npcBreak">
                        <ion-option *ngFor='let x of npcgenerator(100), let i = index' value="{{i}}">{{i}} /</ion-option>
                    </ion-select>
                    <span> / </span>
                    <ion-select [(ngModel)]="newtest.npcRecovery">
                        <ion-option *ngFor='let x of npcgenerator(100), let i = index' value="{{i}}">{{i}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Suppresion</ion-label>
                    <ion-toggle [(ngModel)]="newtest.suppression"></ion-toggle>
                </ion-item>
            </ion-list>
            <div class='test-buttons'>
                <ion-row text-center>
                    <ion-col width-10></ion-col>
                    <ion-col width-80>
                        <button (click)='BT()' full round ion-button color="primary">Baseline Testing</button>
                    </ion-col>
                    <ion-col width-10> </ion-col>
                </ion-row>
                <ion-row text-center>
                    <ion-col width-10></ion-col>
                    <ion-col width-80>
                        <button (click)='CT()' full round ion-button color="primary">Concussion Testing</button>
                    </ion-col>
                    <ion-col width-10></ion-col>
                </ion-row>
            </div>
        </div>
    </ion-grid>
</ion-content>