page-testing {
    .test {
        .icon-img {
            font-size: 2.8rem;
        }
        .selectedPlayer {
            // margin-top: 10%;
            .profileImg {
                text-align: center;
                img {
                    object-fit: cover;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                }
            }
            .profileIcon {
                font-size: 80px;
                text-align: center;
                width: 100%;
                margin-bottom: -10%;
            }
            .select-text {
                min-width: 100%;
            }
            .toggle-inner {
                background: #fff;
            }
        }
        p {
            margin: 1%;
        }
    }
}