<ion-content>

    <ion-grid>
        <ion-row center class='header-page'>
            <ion-icon color='primary' (click)='back()' class='medium-icon' name='md-arrow-back'></ion-icon>
            <ion-col width-100>
                <h2 color='light' text-center>{{card.name}} Review</h2>
            </ion-col>
            <ion-icon name='ios-refresh' color='primary' class='medium-icon' (click)='reset()'></ion-icon>
        </ion-row>
        <ion-row>
            <ion-col width-25 text-center>
                <h5>{{card.errors.O}}<br> Omission
                </h5>
            </ion-col>
            <ion-col width-25 text-center>
                <h5>{{card.errors.S}}<br> Substitution
                </h5>
            </ion-col>
            <ion-col width-25 text-center>
                <h5>{{card.errors.A}}<br> Addition
                </h5>
            </ion-col>
            <ion-col width-25 text-center>
                <h5>{{card.errors.T}}<br> Transposition
                </h5>
            </ion-col>
        </ion-row>
        <div class='review-section'>
            <ion-row text-center>
                <ion-col width-100>
                    <h4 class="text-bold"> Data Array</h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <div *ngFor='let x of card.dataArray; let i=index' class='box'>
                    <button class='numbers' *ngIf='i>=dataIndex && i<dataIndex+5' (click)='selectedData(i)' [ngClass]="{'active': selectData.indexOf(i)>-1,
                 'substitution': newErrors.S.indices.indexOf(i)>-1,
                            'transposition': newErrors.T.indices.indexOf(i)>-1}">
                      <ion-badge color='badge'>{{i+1}}</ion-badge>
                      {{x}}
                </button>
                </div>
            </ion-row>
            <ion-row text-center>
                <ion-col width-20 text-left>
                    <ion-icon color='primary' class='medium-icon' name='md-arrow-back' (click)='swipeRight()'></ion-icon>
                </ion-col>
                <ion-col width-15 text-center>
                    <h4>{{newErrors.O.err}}
                    </h4>
                    <button ion-button color='omission' icon-only full round (click)='omission()' [disabled]='disabled.O'>
                Omission
              </button>
                </ion-col>
                <ion-col width-15 text-center>
                    <h4>{{newErrors.S.err}}
                    </h4>
                    <button ion-button color='substitution' icon-only full round (click)='substitution()' [disabled]='disabled.S'>
                Sustitution
              </button>
                </ion-col>
                <ion-col width-15 text-center>
                    <h4>{{newErrors.A.err}}
                    </h4>
                    <button ion-button color='addition' icon-only full round (click)='addition()' [disabled]='disabled.A'>
                Addition
              </button>
                </ion-col>
                <ion-col width-15 text-center>
                    <h4>{{newErrors.T.err}}
                    </h4>
                    <button ion-button color='transposition' icon-only full round (click)='transposition()' [disabled]='disabled.T'>
                Transposition
              </button>
                </ion-col>
                <ion-col width-20 text-right>
                    <ion-icon color='primary' class='medium-icon' name='md-arrow-forward' (click)='swipeLeft()'></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row text-center>
                <ion-col width-100>
                    <h4 class="text-bold">Input Array</h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <div *ngFor='let x of card.inputArray; let i=index' class='box' (swipe)='swiped($event)'>
                    <button class='numbers' *ngIf='i>=inputIndex && i<inputIndex+5' (click)='selectedInput(i)' [ngClass]="{
                  'active': selectInput.indexOf(i)>-1,
                            'omission': newErrors.O.indices.indexOf(i)>-1,
                            'substitution': newErrors.S.indices.indexOf(i)>-1,
                            'transposition': newErrors.T.indices.indexOf(i)>-1}">
                      <ion-badge color='badge'>{{i+1}}</ion-badge>
                      {{x}}
                </button>
                </div>
            </ion-row>

            <ion-row>
                <div *ngFor='let x of additionArray; let i=index' class='box'>
                    <div *ngIf='i>=inputIndex && i<inputIndex+5'>
                        <button class='addition' *ngIf='x'>
                      <ion-badge color='badge'>{{i+1}}</ion-badge>
                      {{x}}
                </button>
                        <button class='blank' *ngIf='!x'>
                </button>
                    </div>
                </div>
            </ion-row>

        </div>

    </ion-grid>
</ion-content>