  page-dem-review {
      ion-slides {
          height: auto;
          .swiper-slide {
              width: 200px !important;
          }
      }
      .numbers {
          background-color: #16675f;
          color: #fff;
          height: 100px !important;
          width: 180px !important;
          margin: 10px;
          font-size: 40px;
          ion-badge {
              position: absolute;
              margin-left: -30px;
          }
      }
      .lock-icon {
          font-size: 45px!important;
          line-height: 45px;
      }
      .active {
          background-color: #fafa3e;
      }
      .omission {
          background-color: #e55664;
      }
      .substitution {
          background-color: #5540a0;
      }
      .transposition {
          background-color: #50f564;
      }
      .addition {
          background-color: #90ef00;
          height: 50px !important;
          width: 180px !important;
          margin: 10px;
          font-size: 30px;
      }
      .blank {
          width: 200px;
          background: transparent;
      }
      .back {
          float: left
      }
      .reset {
          float: right
      }
  }