  page-dem-review {
      ion-slides {
          height: auto;
          .swiper-slide {
              width: 200px !important;
              .numbers {
                  background-color: #16675f;
                  color: #fff;
                  height: 100px !important;
                  width: 180px !important;
                  margin: 2%;
                  font-size: 40px
              }
          }
      }
  }