@import "ionic.globals";
$text-color: #fff;
$background-color: #00b0f0;
$font-family-base:'PTSans',
'-apple-system',
'Helvetica Neue',
'Roboto',
'sans-serif';
$colors: ( primary: #009ed9, secondary: #32db64, danger:#bd0c0c, light: #f4f4f4, dark: #222);
@import "ionic.theme.default";
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 300;
    src: local("PTSans"), url("../assets/custom-fonts/PTC55F.ttf") format("truetype");
}

.picker-wrapper,
.checkbox-icon,
.alert-checkbox-icon {
    background-color: #f4f4f4!important;
}

.picker-button {
    color: #fff!important;
}

.checkbox-checked {
    background-color: #009ed9!important;
}