@import "ionic.globals";
$text-color: #454f5e;
$colors: ( primary: #028dc6, secondary: #32db64, danger:#de7e03, light: #149fd8, dark: #454f5e, white:#fff, omission: #de7e03, substitution:#508f27, addition:#b53d6d, transposition:#5c4f00);
@import "ionic.theme.default";
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
$tabs-ios-tab-min-height: 80px;
$background-color: #f8f8f8;