@import "ionic.globals";
$text-color: #454f5e;
$colors: ( primary: #028DC6, secondary: #3BB85D, danger:#de7e03, light: #149fd8, dark: #454f5e, white:#fff, omission: #FAB153, substitution:#82C250, addition:#3BBEB0, transposition:#F67D50, badge:#FAB153);
@import "ionic.theme.default";
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
$tabs-ios-tab-min-height: 80px;
$background-color: #f8f8f8;