page-demresultcard {
    .header-page {
        height: 15%!important;
        button {
            float: left;
            color: #fff;
        }
        h1 {
            color: #fff;
        }
    }
    .dem {
        .result {
            ion-col {
                text-align: center;
                padding: 2%;
                margin: 2%;
                background-color: #16675f;
            }
            .value {
                font-size: 32px;
            }
        }
    }
}