<ion-content>
    <ion-grid>
        <ion-row center class='header-page'>
            <ion-icon color='primary' (click)='back()' class='medium-icon' name='md-arrow-back'></ion-icon>
            <ion-col width-100>
                <h2 color='light' text-center>DEM</h2>
            </ion-col>
        </ion-row>
        <div class='result-cards'>
            <ion-row text-center>
                <ion-col width-40></ion-col>
                <ion-col class='headers' width-10>O</ion-col>
                <ion-col class='headers' width-10> S</ion-col>
                <ion-col class='headers' width-10>A</ion-col>
                <ion-col class='headers' width-10>T</ion-col>
                <ion-col class='headers' width-10>Total</ion-col>
                <ion-col class='headers' width-10>Time</ion-col>
            </ion-row>
            <ion-row *ngFor='let card of cards; let i =index' text-center center>
                <ion-col width-10>
                    <h5>{{card.name}}</h5>
                </ion-col>
                <ion-col width-20 *ngIf='!card.fileName'>
                    <button ion-button (click)='review(i)' full icon-right round>
                      Review <ion-icon name='ios-paper-outline'></ion-icon></button>
                </ion-col>
                <ion-col width-10 *ngIf='card.fileName'>
                    <button ion-button (click)='review(i)' full icon-only round>
                       <ion-icon name='ios-paper-outline'></ion-icon></button>
                </ion-col>
                <ion-col width-10 *ngIf='card.fileName'>
                    <button ion-button (click)='dial(i)' icon-only full round><ion-icon name='md-grid'></ion-icon></button>
                </ion-col>

                <ion-col width-10>
                    <ion-icon *ngIf='card.fileName' name='md-headset'></ion-icon>
                    <ion-icon *ngIf='!card.fileName' name='md-mic-off'></ion-icon>
                </ion-col>
                <ion-col class='values' width-10>{{card.errors.O}}</ion-col>
                <ion-col class='values' width-10>{{card.errors.S}}</ion-col>
                <ion-col class='values' width-10>{{card.errors.A}}</ion-col>
                <ion-col class='values' width-10>{{card.errors.T}}</ion-col>
                <ion-col class='values' width-10>{{card.totalErrors}}</ion-col>
                <ion-col class='values' width-10>{{card.time}}</ion-col>
            </ion-row>
        </div>
        <div class='dem-reports'>
            <ion-row>
                <ion-col class='result' col-20><span class='value'>{{results.vt}}</span> <br> Vertical Time</ion-col>
                <ion-col class='result' col-20><span class='value'>{{results.vtE}}</span> <br> Vertical Time/Total Errors</ion-col>
                <ion-col class='result' col-20><span class='value'>{{results.gH}}</span> <br> Gross Horizontal</ion-col>
                <ion-col class='result' col-20><span class='value'>{{results.aht}}</span> <br> Adjusted Horizontal Time</ion-col>
                <ion-col class='result' col-20><span class='value'>{{results.hV}}</span> <br> H/V Ratio</ion-col>
            </ion-row>
            <ion-row class="margin-bottom">
                <ion-col width-30></ion-col>
                <ion-col width-30>

                </ion-col>
                <ion-col width-40 text-center> <button color='secondary' round ion-button (click)='update()'>Update results</button></ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
