page-demresultcard {
    .dem {
        .result {
            ion-col {
                text-align: center;
                padding: 2%;
                margin: 2%;
                background-color: #16675f;
            }
            .value {
                font-size: 32px;
            }
        }
    }
}