ion-tabs {
    .tab-button {
        max-width: 50%!important;
    }
    .tab-button[aria-selected=true] {
        background: #009ed9;
        color: #fff!important;
    }
}

.timer-buttons {
    button {
        font-size: 24px!important;
        margin: 5%;
        width: 80%;
        padding: 2%;
    }
}

.dialpad {
    ion-row {
        button {
            padding: 2%;
            font-size: 40px!important;
            background-color: #16675f;
            color: #fff;
        }
    }
    ion-textarea {
        padding: 20%;
        font-size: 40px;
    }
}

.profile {
    .icons {
        text-align: center;
        .profileImg {
            text-align: center;
            margin-bottom: -10%;
        }
        .profileIcon {
            font-size: 80px;
            text-align: center;
            width: 100%;
            margin-bottom: -10%;
        }
    }
    .addNewImg {
        text-align: center;
    }
    .profile-form {
        .text-input {
            text-align: right;
        }
        margin-top: 5%;
        .item-input .item-clear {
            box-shadow: none!important;
            color: #fff!important;
        }
        .games {
            margin-left: 10%;
        }
        .drop-down-icon,
        .select-icon-inner {
            font-size: 20px;
            margin: 0;
            color: #999999;
            position: relative;
            width: 12px;
            height: 18px;
        }
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border: none;
        box-shadow: none;
    }
}

.results {
    padding: 0;
    ion-row {
        border-bottom: 1px solid #e4e4e4;
    }
    ion-col {
        padding: 2% 0%;
        border-right: 2px solid #fff;
        border-bottom: 2px #fff solid;
    }
    .result-head {
        background: #009ed9;
        font-size: 18px;
        font-weight: bold
    }
    .result-body {
        font-size: 16px;
    }
}