$custom-font-path: '../assets/custom-fonts';
@font-face {
    font-family: "OpenSans Semibold";
    font-style: normal;
    font-weight: 300;
    src: local("OpenSans Semibold"),
    local("OpenSans Semibold"),
    url("#{$custom-font-path}/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans Bold";
    font-style: normal;
    font-weight: 300;
    src: local("OpenSans Bold"),
    local("OpenSans Bold"),
    url("#{$custom-font-path}/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans Regular";
    font-style: normal;
    font-weight: 300;
    src: local("OpenSans Regular"),
    local("OpenSans Regular"),
    url("#{$custom-font-path}/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans Light";
    font-style: normal;
    font-weight: 300;
    src: local("OpenSans Light"),
    local("OpenSans Light"),
    url("#{$custom-font-path}/OpenSans-Light.ttf") format("truetype");
}

ion-content {
    font-family: 'OpenSans Regular';
    background: #fff!important;
}

.button {
    font-family: 'OpenSans Regular';
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 3vh;
    height: 6.5vh;
}

.picker-wrapper,
.checkbox-icon,
.alert-checkbox-icon {
    background-color: #f4f4f4 !important;
}

.picker-wrapper {
    .picker-toolbar {
        background: #028dc6 !important;
        color: #fff !important;
        height: 6.5vh;
    }
}

.picker-button {
    height: 6.5vh!important;
    color: #fff !important;
}

h1 {
    font-family: 'OpenSans Bold';
    font-size: 10vh !important;
    white-space: pre-line;
}

h2 {
    font-family: 'OpenSans Regular';
    font-size: 8vh !important;
}

h3 {
    font-family: 'OpenSans Regular';
    font-size: 7vh !important;
}

h4 {
    font-family: 'OpenSans Regular';
    font-size: 3.5vh !important;
}

h5 {
    font-family: 'OpenSans Regular';
    font-size: 2.5vh !important;
}

p {
    font-family: 'OpenSans Regular';
    font-size: 3vh !important;
}

ion-tabs {
    .tabbar {
        border: none !important;
        height: 10vh;
        .tab-button {
            max-width: 50% !important;
            border: none;
            .tab-button-text {
                text-transform: uppercase;
                font-size: 4vh !important;
                font-family: 'OpenSans Regular'
            }
        }
        .tab-button[aria-selected=true] {
            font-size: 4.5vh !important;
            // border-bottom: 4px solid #de7e03;
        }
    }
}

ion-searchbar {
    background: #fff !important;
    padding: 1% !important;
    border: 0.55px solid rgba(0, 0, 0, 0.05) !important;
    .searchbar-input {
        font-size: 3rem !important;
        padding-left: 30% !important;
        height: 5.5rem !important
    }
    .searchbar-search-icon {
        background-size: 3rem !important;
        width: 4% !important;
        height: 3.1rem !important;
    }
}

.search-list {
    background: #fff !important;
    padding: 1%;
    margin: 0.5%;
    border: 0.55px solid rgba(0, 0, 0, 0.05) !important;
    ion-item {
        padding: 1.2%;
        border-bottom: 0.55px solid rgba(0, 0, 0, 0.05) !important;
        font-size: 2rem
    }
}

.selected-tab {
    img {
        margin-top: -5vw;
        width: 5vw!important;
        height: 5vw!important;
    }
}

ion-item {
    padding: 1%;
    background: none !important;
    .item-inner {
        border: none !important;
        ion-input {
            font-size: 24px;
        }
        ion-label {
            font-size: 24px;
        }
        .drop-down-icon,
        .select-icon-inner {
            top: 0 !important;
            left: 0 !important;
            color: #999999;
        }
        .select-text {
            min-width: 100%;
        }
        .toggle-inner {
            background: #fff;
        }
    }
}

.header-page {
    margin-bottom: 2vh !important;
    background: #fff;
    button {
        float: left;
    }
}

ion-grid {
    padding: 0 !important;
}

.alert-wrapper {
    min-width: 50%;
    color: #028dc6;
    font-family: 'OpenSans Light';
    .alert-tappable {
        font-size: 2.5rem !important;
        padding: 1% 5%;
        color: #028dc6;
        .alert-radio-inner {
            width: 1.5rem;
            height: 3rem;
        }
    }
    .alert-button-group {
        background: #028dc6;
        .alert-button {
            color: #fff;
        }
    }
}

.medium-icon {
    font-size: 6rem;
    margin: .5% 1.5%;
}

.record-icon {
    float: right;
}

.profile {
    .icons {
        text-align: center;
        .profileImg {
            text-align: center;
            margin-bottom: -10%;
            width: 25vh;
            height: 25vh;
            border-radius: 50%;
            object-fit: cover;
        }
        .profileIcon {
            font-size: 15vh;
            text-align: center;
            width: 100%;
            margin-bottom: -10%;
        }
    }
    .addNewImg {
        text-align: center;
    }
    .profile-form {
        .text-input {
            text-align: right;
        }
        margin-top: 5%;
        .item-input .item-clear {
            box-shadow: none !important;
            color: #fff !important;
        }
        .games {
            margin-left: 10%;
        }
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border: none;
        box-shadow: none;
    }
}

// results page list
.results {
    padding: 0;
    .result-head {
        background: #009ed9;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        ion-col {
            padding: 2% 0%;
            border-right: 2px solid #e4e4e4;
            border-bottom: 2px #e4e4e4 solid;
        }
    }
    .result-body {
        font-size: 1.8rem;
        color: #000;
        background: #fff;
        ion-col {
            padding: 2% 0%;
            border-right: 2px solid #e4e4e4;
            border-bottom: 2px #e4e4e4 solid;
        }
    }
    .type-button {
        background: none;
        color: #028dc6;
        border: 1px solid #028dc6;
    }
    .selected {
        background: #028dc6;
        color: #fff
    }
}

//final dem result cards
.dem-results {
    .result {
        text-align: center;
        padding: 2%;
        margin: 2%;
        background-color: #028dc6;
        color: #fff;
        font-size: 2rem;
    }
    .value {
        font-size: 4.5rem;
    }
}

//dem page
.result-cards {
    .headers {
        background: #028dc6;
        font-size: 3rem;
        line-height: 8rem;
        color: #fff;
        border: 0.55px solid #c5d3dc !important;
    }
    .values {
        background: #fff;
        font-size: 3rem;
        line-height: 10rem;
        border: 0.55px solid #c5d3dc !important;
    }
}

.checkbox-checked {
    background-color: #009ed9 !important;
}

.dialpad {
    .number {
        background: #fff!important;
        background: none;
        border: 2px solid;
        color: #454f5e;
        font-size: 3rem;
        width: 6vw;
        height: 6vw;
        margin: 1%;
    }
    .number-keys {
        background: #fff!important;
        background: none;
        border: 2px solid;
        color: #454f5e;
        font-size: 3rem;
        width: 9vw;
        height: 9vw;
        margin: 1%;
    }
    .err {
        background: #FF5722 !important;
        border: none;
        color: #fff;
    }
}