page-kingdevick {
    .header-page {
        height: 15%!important;
        button {
            float: left;
            color: #fff;
        }
        h1 {
            color: #fff;
        }
    }
    .kingdevick {
        .results {}
    }
}