<ion-content padding>
    <ion-grid class='profile'>
        <ion-row>
            <ion-col width-30></ion-col>
            <ion-col *ngIf='!user.profileImageId' width-40 class='icons'>
                <ion-icon class='profileIcon' name='md-person'></ion-icon>
            </ion-col>
            <ion-col *ngIf='user.profileImageId' width-40 class='icons'>
                <img class='profileImg' src='{{user.profileImageId}}' />
            </ion-col>
            <ion-col width-30></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class='addNewImg' width-100>
                <button ion-button (click)='openCamera()' small> <ion-icon name='md-camera' > </ion-icon></button>
                <button ion-button (click)='getFile()' small> <ion-icon name='md-folder'> </ion-icon></button>
            </ion-col>
        </ion-row>
        <ion-list no-lines class='profile-form'>
            <ion-item no-lines>
                <ion-label color='dark'>Fullname</ion-label>
                <ion-input [(ngModel)]='user.fullName'></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-label color='dark'>Username</ion-label>
                <ion-input [(ngModel)]='user.username'></ion-input>
            </ion-item>

            <ion-item no-lines>
                <ion-label color='dark'>Date of Birth</ion-label>
                <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="user.dob"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label color='dark'>Grade</ion-label>
                <ion-select [(ngModel)]="user.grade">
                    <ion-option color='secondary' value="1">1</ion-option>
                    <ion-option value="2">2</ion-option>
                    <ion-option value="3">3</ion-option>
                    <ion-option value="4">4</ion-option>
                    <ion-option value="5">5</ion-option>
                    <ion-option value="6">6</ion-option>
                    <ion-option value="7">7</ion-option>
                    <ion-option value="8">8</ion-option>
                    <ion-option value="9">9</ion-option>
                    <ion-option value="10">10</ion-option>
                    <ion-option value="11">11</ion-option>
                    <ion-option value="12">12</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color='dark'>School</ion-label>
                <ion-select color='secondary' [(ngModel)]="user.school">
                    <ion-option *ngFor='let school of schools' value="{{school._id}}">{{school.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item (click)='showGames=!showGames'>
                <ion-label color='dark'>Games</ion-label>
                <ion-icon class='drop-down-icon' item-right name='md-arrow-dropdown'> </ion-icon>
            </ion-item>
            <div *ngIf='showGames' class='games'>
                <ion-item>
                    <ion-label color='dark'>Football</ion-label>
                    <ion-checkbox [(ngModel)]="user.game.football"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label color='dark'>Baseball</ion-label>
                    <ion-checkbox [(ngModel)]="user.game.baseball"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label color='dark'>Basketball</ion-label>
                    <ion-checkbox [(ngModel)]="user.game.basketball"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label color='dark'>Soccer</ion-label>
                    <ion-checkbox [(ngModel)]="user.game.soccer"></ion-checkbox>
                </ion-item>
            </div>
            <ion-item>
                <ion-label color='dark'>Access personal records</ion-label>
                <ion-checkbox item-right color='secondary' [(ngModel)]="personal"></ion-checkbox>

            </ion-item>

            <ion-item *ngIf='personal'>
                <ion-label color='dark'>Email</ion-label>
                <ion-input [(ngModel)]='user.email'></ion-input>
            </ion-item>
        </ion-list>

        <ion-row text-center>
            <ion-col width-30></ion-col>
            <ion-col width-40>
                <button (click)='submit()' ion-button color="primary">Update</button>
            </ion-col>
            <ion-col width-30></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-fab right bottom>
    <button (click)='signout()' ion-fab color='light'><ion-icon name="md-log-out"></ion-icon></button>
</ion-fab>